@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>

    <button onclick="location.href='/database'" type="button">
        Просмотреть базу
    </button>

    <button onclick="location.href='/upload'" type="button">
        Загрузить данные
    </button>

</div>
